body {
  background-color: #2B2A4C;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #82A0BC;
}
body p {
  color: #EEE2DE;
}

#navbarStats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}