@charset "UTF-8";
#myNew .estimatedTendance {
  display: flex;
  justify-content: space-around;
}
#myNew .tendance {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Crée trois colonnes égales */
  gap: 10px;
}