@charset "UTF-8";
.nft {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* Crée trois colonnes égales */
  gap: 10px;
}
.nft p {
  display: flex;
  align-items: center;
  justify-content: center;
}