@charset "UTF-8";
body {
  background-color: #2B2A4C;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #82A0BC;
}
body p {
  color: #EEE2DE;
}
body .categories {
  background-color: #18283b;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Ajustez les valeurs selon vos préférences */
}