@charset "UTF-8";
#myTopnav {
  position: fixed;
  top: 0;
  left: 20px;
  /* ou ajustez à votre préférence */
  right: 20px;
  /* ou ajustez à votre préférence */
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  /* Ajustez selon vos besoins */
}