//Couleur

$background: #2B2A4C;

$backgroundModule: #1F2833;

$backgroundBtnLog: #EA906C;

$backgroundNavbarBtn: #EA906C;

$backgroundFont: #EEE2DE;

$backgroundFontTitle: #82A0BC;

$backgroundBorderColor: #45A29E;

$paddingModule: 30px;