@import 'style.scss';

#balance {

    display: flex;
    justify-content: space-around;
    align-items: center;


    .montantDevise {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }



}