.donneeColonne {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* Crée trois colonnes égales */
    gap: 10px;

    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}