@import '_variable.scss';

body {
    background-color: $background;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $backgroundFontTitle; // Correction du nom de la variable
    }

    p {
        color: $backgroundFont;
    }

    .categories {
        background-color: #18283b;
        padding: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        border-radius: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        /* Ajustez les valeurs selon vos préférences */
    }

}